[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
markdown = "*"
django-filter = "*"
pyyaml = "*"
pygments = "*"
django-guardian = "*"
django-cors-headers = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
